<div class="container-fluid data-block">
  <h4>ONLINE MODELS</h4>
  <hr>
  <div class="row">
      <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12"></div>
      <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
        <form class="search" action="action_page.php">
            <input type="text" placeholder="Search.." name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
      </div>
  </div><br>
  <div class="row">
      <div class="col-md-3 col-lg-3 col-sm-12">
        <div class="card">
        <img src="../../../assets/images/ml1.jpg" alt="Avatar" style="width:100%">
        <div class="container">
          <h4><b>Heart Disease</b></h4> 
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p> 
        </div>
        </div>
      </div>
      <div class="col-md-3 col-lg-3 col-sm-12">
          <div class="card">
          <img src="../../../assets/images/ml2.jpg" alt="Avatar" style="width:100%">
          <div class="container">
            <h4><b>Back Pain Prediction</b></h4> 
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p> 
          </div>
          </div>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-12">
            <div class="card">
            <img src="../../../assets/images/ml1.jpg" alt="Avatar" style="width:100%">
            <div class="container">
              <h4><b>Deep Learning 1</b></h4> 
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                  Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p> 
            </div>
            </div>
          </div>
          <div class="col-md-3 col-lg-3 col-sm-12">
              <div class="card">
              <img src="../../../assets/images/home_wallpaper.jpg" alt="Avatar" style="width:100%">
              <div class="container">
                <h4><b>Stock data</b></h4> 
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p> 
              </div>
              </div>
          </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-lg-3 col-sm-12">
        <div class="card">
        <img src="../../../assets/images/ml1.jpg" alt="Avatar" style="width:100%">
        <div class="container">
          <h4><b>Heart Disease risk</b></h4> 
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p> 
        </div>
        </div>
      </div>
      <div class="col-md-3 col-lg-3 col-sm-12">
          <div class="card">
          <img src="../../../assets/images/ml2.jpg" alt="Avatar" style="width:100%">
          <div class="container">
            <h4><b>Pain Prediction</b></h4> 
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p> 
          </div>
          </div>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-12">
            <div class="card">
            <img src="../../../assets/images/home_wallpaper.jpg" alt="Avatar" style="width:100%">
            <div class="container">
              <h4><b>Sentimental analysis</b></h4> 
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                  Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p> 
            </div>
            </div>
          </div>
          <div class="col-md-3 col-lg-3 col-sm-12">
              <div class="card">
              <img src="../../../assets/images/ml2.jpg" alt="Avatar" style="width:100%">
              <div class="container">
                <h4><b>Deep Learning 2</b></h4> 
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p> 
              </div>
              </div>
            </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-lg-3 col-sm-12">
          <div class="card">
          <img src="../../../assets/images/ml1.jpg" alt="Avatar" style="width:100%">
          <div class="container">
            <h4><b>Heart Disease</b></h4> 
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p> 
          </div>
          </div>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-12">
            <div class="card">
            <img src="../../../assets/images/ml2.jpg" alt="Avatar" style="width:100%">
            <div class="container">
              <h4><b>Back Pain Prediction</b></h4> 
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p> 
            </div>
            </div>
          </div>
          <div class="col-md-3 col-lg-3 col-sm-12">
              <div class="card">
              <img src="../../../assets/images/ml1.jpg" alt="Avatar" style="width:100%">
              <div class="container">
                <h4><b>Deep Learning 4</b></h4> 
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p> 
              </div>
              </div>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-12">
                <div class="card">
                <img src="../../../assets/images/ml2.jpg" alt="Avatar" style="width:100%">
                <div class="container">
                  <h4><b>House Price Prediction</b></h4> 
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                      Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p> 
                </div>
                </div>
            </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-lg-3 col-sm-12">
          <div class="card">
          <img src="../../../assets/images/ml1.jpg" alt="Avatar" style="width:100%">
          <div class="container">
            <h4><b>Heart Disease</b></h4> 
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p> 
          </div>
          </div>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-12">
            <div class="card">
            <img src="../../../assets/images/ml2.jpg" alt="Avatar" style="width:100%">
            <div class="container">
              <h4><b>Back Pain Prediction</b></h4> 
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p> 
            </div>
            </div>
          </div>
          <div class="col-md-3 col-lg-3 col-sm-12">
              <div class="card">
              <img src="../../../assets/images/ml1.jpg" alt="Avatar" style="width:100%">
              <div class="container">
                <h4><b>Deep Learning 1</b></h4> 
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p> 
              </div>
              </div>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-12">
                <div class="card">
                <img src="../../../assets/images/ml1.jpg" alt="Avatar" style="width:100%">
                <div class="container">
                  <h4><b>Deep Learning 6</b></h4> 
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                      Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p> 
                </div>
                </div>
              </div>
      </div>
</div>