<div class="home-page">

  <div class="banner" *appShowAuthed="false">
      <div class="row">
          <div class="col-md-8"></div>
          <div class="col-md-4 intro-text">
              <br>
              <h1 class="logo-font">  AutoAI</h1>
              <br><br><br>
              <p>“Aim for simplicity in Data Science. Real creativity won’t make things more complex. Instead, it will simplify them.” </p>
              <br>
              <a routerLink="/login" routerLinkActive="active"><button class="btn btn-primary">Start Here</button></a>
          </div>
      </div>
  </div>

  <div class="container page process">
    <div class="row">
        <div class="col-md-12">
             <h4><b>Our Working Proccess</b></h4><br>
             <p>* Prepare the data to be analysed * Upload the data to the system * See the summary statistics * 
               Clean the data by just selecting from  UI * Choose the response variable * Choose the ML algorithm * Train your Model * Do predections with your model *
             </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <img src="../../assets/images/home_image2.jpg" width="70%">
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
             <img src="../../assets/images/ml-process2.png" width="70%">
        </div>
    </div><br>
    <div class="row follow">
        <div class="col-md-12">
            <br>
            <h4><b>Follow Us On</b></h4>
            <div class="row">
                <div class="col-md-3">
                    <a><img src="../../assets/images/fb.png" width="90px" height="90px"></a>
                </div>
                <div class="col-md-3">
                   <a><img src="../../assets/images/insta.png" width="100px" height="100px"></a>
                </div>
                <div class="col-md-3">
                    <a><img src="../../assets/images/twitter.png" width="80px" height="80px"></a>
                </div>
                <div class="col-md-3">
                    <a><img src="../../assets/images/linkedin.png" width="70px" height="70px"></a>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
