.nav-link {
  cursor:pointer;
}

.tag-pill{
  cursor:pointer;
}

.banner{
    background-image: url("../../assets/images/deepLearning.gif");
    background-repeat: no-repeat;
    background-size: 100% 550px;
    height: 550px;
}

.intro-text {
  margin: 0 auto;
  text-align: center;
}

.intro-text button{
   margin-top: 50px;
}

.home-page .process{
  text-align: center;
  color: black;
}

.home-page .follow{
    background-color: black;
}

.home-page .follow h4{
   font-weight: bold;
   color: white;
}

.parallax {
  /* The image used */
  background-image: url("../../assets/images/scroll.jpg");

  /* Set a specific height */
  min-height: 300px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax h1{
  color: white;
  font-weight: bold;
  padding-top: 50px;
  padding-bottom: 30px;
}

.parallax p{
  color: white;
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
}

.parallax h5{
  padding-right: 60px;
  padding-top: 10px;
  text-align: right;
  color: white;
  font-weight: bold;
  font-size: 15px;
}

.process{
   padding-top: 20px;
   padding-bottom: 30px;
}

.process img {
   height: 20%;
   width: 20%;
}

.font-italics{
   font-style: italic;
}

.process h6{
   padding: 10px;
}

.text-center{
  text-align: center;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  cursor: pointer;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0.2,0.2,0.5);
}

.card img{
  height: 155px;;
}