<div class="home-page">

  <div class="banner" *appShowAuthed="false">
      <div class="row">
          <div class="col-md-8"></div>
          <div class="col-md-4 intro-text">
              <br>
              <h1 class="logo-font">  AutoAI</h1>
              <br><br><br>
              <p>“Aim for simplicity in Data Science. Real creativity won’t make things more complex. Instead, it will simplify them.” </p>
              <br>
              <a routerLink="/login" routerLinkActive="active"><button class="btn btn-primary">Start Here</button></a>
          </div>
      </div>
  </div>

  <div class="page container process">
    <h4><b>FEATURES</b></h4><br>
    <p class="font-italics">Just sign in and enjoy the variety of machine learning features available</p><br>
    <div class="row">
        <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
           <div>
              <img src="../../assets/images/api.png">
           </div>
          <div>
              <h6><b>Get Model API</b></h6>  
              <p>You can integrate existing online models to your projects. There will be well documented API's for each models 
                which can be used to post your new data. The response from the API will be the predicted output. All API's are secured 
                by token authentication.
              </p>
          </div>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
            <div>
                <img src="../../assets/images/data_analysis.png">
             </div>
            <div>
                <h6><b>Data Analysis</b></h6>
                <p>Data analysis is a process of inspecting, cleansing, transforming and modeling data with the goal 
                  of discovering useful information, informing conclusions and supporting decision-making. You can create pdf/doc 
                  report of the analysed data. </p>
            </div>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
            <div>
                <img src="../../assets/images/model_building.png">
             </div>
            <div>
                <h6><b>Build Models</b></h6>
                <p>You can build a machine learning project from scratch. You can apply different types of machine
                  learning algorithms such as regression, classification, deep learning and more. Created machine learning project 
                  can be made online so that other users can see your work. 
                </p>
            </div>
        </div>
    </div>
  </div>
  <div class="al-quote">
    <div class="row">
       <div class="col-md-12">
          <div class="parallax text-center">
              <h1>Artifical Intelligence</h1>
              <p>The thing that's going to make artificial intelligence so powerful is its ability to learn, and the way AI learns is to look at human culture. 
              </p>
              <h5> - Dan Brown</h5>
          </div>
       </div>
    </div>
  </div>
  <div class="page container text-center">
      <h4><b>TOP TRENDING PROJECTS</b></h4><br>
      <p class="font-italics">These are few of the trending machine learning projects in our system</p><br>
      <div class="row">
          <div class="col-md-3 col-lg-3 col-sm-12">
            <div class="card">
            <img src="../../../assets/images/ml1.jpg" alt="Avatar" style="width:100%">
            <div class="container">
              <h4><b>Heart Disease</b></h4> 
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                  Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p> 
            </div>
            </div>
          </div>
          <div class="col-md-3 col-lg-3 col-sm-12">
              <div class="card">
              <img src="../../../assets/images/ml2.jpg" alt="Avatar" style="width:100%">
              <div class="container">
                <h4><b>Back Pain Prediction</b></h4> 
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                  Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p> 
              </div>
              </div>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-12">
                <div class="card">
                <img src="../../../assets/images/ml1.jpg" alt="Avatar" style="width:100%">
                <div class="container">
                  <h4><b>Deep Learning 1</b></h4> 
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                      Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p> 
                </div>
                </div>
              </div>
              <div class="col-md-3 col-lg-3 col-sm-12">
                  <div class="card">
                  <img src="../../../assets/images/home_wallpaper.jpg" alt="Avatar" style="width:100%">
                  <div class="container">
                    <h4><b>Sentimental analysis</b></h4> 
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p> 
                  </div>
                  </div>
                </div>

        </div>
  </div>
</div>
